html {
    font-size: 14px;
    height: 100%;
}

body {
    font-family: Plus Jakarta Sans, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-top: 35px;
}

.information-dashboard {
    z-index: 500;
    background-color: rgba($color: #fff, $alpha: .95);
    position: absolute;
    top: -100%;
    left: 0;
    transition: all 1s ease-in-out;
    width: 100%;
}

.information-dashboard.visible {
    top: 0;
}

.list {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;

    &__template {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        width: 100%;
        justify-content: center;
    }

    &__name {
        margin-right: 5px;
    }

    &__coords {

        b {
            &:not(:last-child) {
                margin-right: 5px;
            }
        }

        @media screen and (max-width: 450px) {
            display: flex;
            flex-direction: column;
        }
    }
}